.carousel {
  width: 1370px;
  margin: 0 auto 60px;

  .item {
    height: 500px;
    background-color: transparent;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }

  .next {
    left:0;
    opacity:1;
    z-index:1;
  }

  .active.left {
    left:0;
    opacity:0;
    z-index:2;
  }
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
  z-index: 10;
  left: 9%;
  text-shadow: none;
  text-align: start;

  h3 {
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'MyriadBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h4 {
    color: $dark-red;
    font-family: 'MyriadLightItalic', Tahoma, sans-serif;
  }

  p {
    color: $light-gray;
    font-style: italic;
    font-size: 14px;
    line-height: 1.5;
  }

}

/* Declare heights because of positioning of img element */
.carousel
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-indicators {
  li {

    background-color: #8c99a3;
    border: none;

    &.active {
      background-color: #12264b;
    }

  }
}

@media (min-width: 1200px) {

    .carousel-caption {
        width: 440px;
        top: 30%;
    }

    .carousel-indicators {
      bottom: 20%;
      left: 11.5%;
    }
}