.detail-page {

    .content {

        margin-top: 160px;
        margin-bottom: 20px;

        h2 {
            color: $dark-blue;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'MyriadBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        h4 {
            color: $dark-red;
            font-family: 'MyriadLightItalic', Tahoma, sans-serif;
        }

        p {
            color: $light-gray;
            text-align: justify;
            font-size: 13px;
        }

        .image {
            margin: 40px 0 20px;
            text-align: center;
        }
    }

    .partner {

        .logo {
            width: 150px;
            margin-right: 10px;
            float: left;
        }

        .details {
            float: left;
        }
    }


}