.detail-page {

    .content {

        margin-top: 160px;
        margin-bottom: 40px;

        h2 {
            color: $dark-blue;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'MyriadBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        h4 {
            color: $dark-red;
            font-family: 'MyriadLightItalic', Tahoma, sans-serif;
            margin-bottom: 25px;
        }

        .text-container {
            position: relative;
        }

        p, .faq-bullets {
            color: $light-gray;
            text-align: justify;
            font-size: 14px;
        }

        .image {
            margin: 40px 0 20px;
            text-align: center;
        }
    }

    .partner {

        margin-bottom: 25px;

        .partner-logo {
            box-shadow: 0 1px 4px rgba(#000, 0.25);
            width: 150px;
            margin-right: 25px;
            display: inline-block;
            /* IE 7 hack */
            *zoom:1;
            *display: inline;
            vertical-align: middle;
        }

        .partner-details {
            width: 765px;
            display: inline-block;
            /* IE 7 hack */
            *zoom:1;
            *display: inline;
            vertical-align: middle;
        }
    }

    .section {
        margin-bottom: 50px;
    }

    .faq-link {
        color: $light-gray;
        font-style: italic;
        font-weight: 600;
        margin: 30px 0 10px;
        display: block;
    }

    .faq-bullets {
        padding-left: 20px;
    }

    .contact-desc {
        display: inline-block;
        width: 46%;
        vertical-align: top;
        margin-right: 4%;
    }

    .contact-form {
        display: inline-block;
        width: 48%;
        vertical-align: top;

        input, textarea {
            border-radius: 0px;
            background-color: #fff;
            color: rgb(0, 53, 65);
            padding: 5px;
            margin: 0px 0px 5px;
            border: 0px solid rgb(72, 76, 79);
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            width: 100%;
        }

        textarea {
            height: 130px;
        }

        .error-message {
            display: none;
            font-size: 13px;
        }
    }


}