{% extends 'detail_page.html' %}

{% block header %}The Canada Program{% endblock %}
{% block subheader %}Become part of a progressive, diverse, and multicultural society{% endblock %}
{% block content %}
<p>
The Canadian Immigrant Investor Program (CANIIP), administered by the <a href="http://www.cic.gc.ca/english/index-geo.asp" target="_blank">Citizenship and Immigration Canada</a>, has been one of the most popular programs worldwide, attracting investors from around the globe. In July 2012, the Canadian government temporarily stopped accepting applications for CANIIP with the intention to revise the program. In the meantime, we at Aman Investment continue to work with our partners in Canada to advise clients who are interested in preparing an application in view of CANIIP’s reopening, or who are interested in the existing regional programs, like the <a href="http://www.immigration-quebec.gouv.qc.ca/en/immigrate-settle/businesspeople/applying-business-immigrant/three-programs/investors/index.html" target="_blank">Quebec Investor Program</a>.
</p>
<p>
<a href="/contact/">Contact us</a> so we can set up a meeting with you and discuss yours options in more detail.
</p>
<div class="image"><img src="/static/img/detailpage-images/canada-lg.jpg" width="945" height="176" /></div>
{% endblock %}







