{% extends 'detail_page.html' %}

{% block header %}The European Program{% endblock %}
{% block subheader %}Take the fast route to a European citizenship{% endblock %}
{% block content %}
<p>
The Bulgarian immigrant-investor program offers one of the fastest tracks to a European citizenship. Basic participation in the program requires to make an investment of 1,000,000 BGN (€ 511,292) in a guaranteed government bond portfolio for a period of five years, with zero accrued interest. An alternative exists to pay a reduced amount of €180,000, which however would not be returned to the investor.
</p>
<p>
With either option, the investor receives permanent residency status within four to six months after submitting his/her application. Physical residency requirements can be waived so that the Investor can travel in and out of Bulgaria and the European Union without any restrictions.
</p>
<p>
In addition, Bulgaria offers now a fast-track to citizenship, which can be applied for as early as one year after receiving permanent residency status. For this, the Investor would have to make a second investment of €512,000 in a Bulgarian company carrying out a Priority Investment Project.
</p>
<p>
Contact us so we can set up a meeting with you and discuss yours options in more detail.
</p>
<div class="image"><img src="/static/img/detailpage-images/eu.jpg" widht="853" height="176" /></div>
{% endblock %}









