{% extends 'detail_page.html' %}

{% block header %}The United States Program{% endblock %}
{% block subheader %}Live the American Dream{% endblock %}
{% block content %}
<p>
The EB-5 Immigrant Investor program was created by the United States’ Congress in 1990 and is administered by the <a href="http://www.uscis.gov/" target="_blank">U.S. Citizenship and Immigration Services</a>. It offers a path to permanent residency (Green Card) for foreigners who invest in a job-generating commercial enterprise located in a “Target Employment Area” in the US (generally a rural area, or an area with high unemployment rate). Commercial enterprises formally approved by USCIS to participate in the program are designated as “EB-5 Regional Centers”.
</p>
<p>
Foreign National Investors who wish to participate in the EB5 program must fulfill certain conditions and invest $500,000 or more in a Regional Center of their choice. These funds must be locked in for a certain period of time, generally 5 years, before the Investor, can retrieve them.
</p>
<p>
As the funds are invested, the Investor must present a petition to USCIS. The approval of this petition will grant him/her and his/her immediate family members conditional permanent residency (green card) in the US valid for two years. After two years, he/she can petition for full residency status, and after five years for US citizenship. For more information about the EB-5 immigration process, visit our <a href="/faqs/">FAQs</a> page.
</p>
<p>
We, at Aman Investment, partner with EB-5 Regional Centers with proven records of achievement to offer our clients safe investment options that you can view here.
</p>
<p>
<a href="/contact/">Contact us</a> so we can set up a meeting with you and discuss yours options in more detail.
</p>
<div class="image"><img src="/static/img/detailpage-images/usa-lg.png" width="945" height="176" /></div>
{% endblock %}
