<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aman Investments</title>
    <link rel="stylesheet" href="/static/css/screen.css">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <!-- <link href="carousel.css" rel="stylesheet"> -->
</head>
<body class="landing-page {% block body_classes %}{% endblock %}">
    <div class="body-wrapper">
        <header class="header-wrapper">
            <div class="navbar navbar-blue navbar-static-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/faqs/">Faqs</a></li>
                    <li><a href="/news/">News Feed</a></li>
                </ul>
                </div>
              </div>
            </div>
        </header>
        <header class="subheader-wrapper">
            <div class="navbar subnavbar" role="navigation">
              <div class="container">
                <div class="logo"></div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/">About</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">Programs</a>
                      <ul class="dropdown-menu">
                        <li><a href="/programs/usa/">USA</a></li>
                        <li><a href="/programs/canada/">Canada</a></li>
                        <li><a href="/programs/eu/">EU</a></li>
                      </ul>
                    </li>
                    <li><a href="/partnerships/">Partnerships</a></li>
                    <li><a href="/contact/">Contact Us</a></li>

                  </ul>
                </div>
              </div>
            </div>
        </header>
        <section class="main-container">

            {% block main_content %}
            {% endblock %}

            <div class="marketing container">

                <div class="row">
                    <div class="col-lg-4">
                      <h2>United States</h2>
                      <p>Become an American resident by investing in one of the real estate projects proposed by Aman and its partners in the US.</p>
                      <p><a class="btn btn-sm btn-danger" href="#" role="button"><span class="white-star"></span><span>Learn more</span></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <h2>Canada</h2>
                      <p>Check out the latest on Canada’s immigrant-investor program and see how Aman can help you and your family take the fast track to Canadian citizenship.</p>
                      <p><a class="btn btn-sm btn-danger" href="#" role="button"><span class="white-star"></span><span>Learn more</span></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <h2>EU</h2>
                      <p>Explore fast tracks to becoming a citizen of the European Union.</p>
                      <p><a class="btn btn-sm btn-danger" href="#" role="button"><span class="white-star"></span><span>Learn more</span></a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div>
        </section>
        <div class="push"></div>
    </div>
    <footer>
        <div class="footer-wrapper container">
            <div class="links pull-left">
                <div class="main-links">
                    <ul>
                      <li><a href="/about/">About</a></li>
                      <li><a href="/programs/">Programs</a></li>
                      <li><a href="/partnerships/">Partnerships</a></li>
                      <li><a href="/contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="sub-links">
                    <ul>
                      <li><a href="/faqs/">FAQS</a></li>
                      <li><a href="/privacy/">Privacy Statement</a></li>
                      <li><a href="/tos/">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul class="social-icons">
                        <li><a class="facebook" href="" target="_blank">Facebook</a></li>
                        <li><a class="linkedin" href="" target="_blank">LinkedIn</a></li>
                        <li><a class="twitter" href="" target="_blank">Twitter</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy; 2013 Aman Investment
                </div>
            </div>
            <div class="map-wrapper pull-right visible-lg">
                <div class="where-we-are">Our precensce</div>
                <div class="map"></div>
            </div>
        </div>

    </footer>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>
    jQuery(function($) {
        $('.carousel').carousel({
          interval: 3000
        })
    });
</script>
</html>