{% extends 'detail_page.html' %}

{% block header %}Contact us{% endblock %}
{% block subheader %}Your first step on the path to a secure future {% endblock %}
{% block content %}
    <div class="contact-desc">
        <p>
        Have you decided to invest in one of Aman's immigrant investor programs? Or do you have specific questions about any of them? Perhaps you only wish to give us feedback on our website? We would love to hear from you. Feel free to call us, email us, send us message through Facebook or LinkedIn, or simply fill the adjascent form, not forgetting to leave us your contact information.
        </p>

        <p><strong>T.</strong> +964 781 133 2244</p>
        <p><strong>E.</strong> info@aman-investment.com</p>
    </div>
    <div class="contact-form">
        {% if success %}
            <div class="alert alert-success">Thank you for your message. We'll get back to you shortly.</div>
        {% endif %}
        <div class="alert alert-danger error-message"></div>
        <form method="POST" action="/contact/" name="contact_form">
            {{ form.name(placeholder="Name") }}
            {{ form.email(placeholder="Email") }}
            {{ form.subject(placeholder="Subject") }}
            {{ form.message(placeholder="Message") }}
            <button class="btn btn-sm btn-danger">Send</button>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="/static/js/validate.min.js"></script>
    <script>
    jQuery(function($){
        var validator = new FormValidator('contact_form', [{
            name: 'name',
            rules: 'required|min_length[2]'
        }, {
            name: 'email',
            rules: 'required|valid_email'
        }, {
            name: 'subject',
            rules: 'min_length[2]'
        }, {
            name: 'message',
            rules: 'required|min_length[10]'
        }], function(errors, event) {
            var errorBox = $('.error-message');
            errorBox.empty();
            errorBox.hide();
            if (errors.length > 0) {
                var errorString = '';
                for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
                    errorString += errors[i].message + '<br />';
                }

                errorBox.append(errorString);
                errorBox.show();
            }
        });
    });

    </script>
{% endblock %}
