FREQUENTLY ASKED QUESTIONS
The United States Program

What is the EB5?
What are some of the benefits of the EB‐5 visa program?
What are the conditions to participate in the EB-5 program?
Do I have to speak English to participate in the EB-5 program?
Can money gifted by a parent or other relative be used for an EB‐5 Investment?
What is an ‘escrow’ account, and when does the investor transfer the money to this account?
How long does it take to become a US resident with the EB-5 program?
If my I‐526 petition is approved by USCIS, what is the purpose of the Consulate application and interview, and how soon do I get my “Green Card”?
Who receives the permanent residency (“green card”)?
What is a ‘Conditional’ Green Card?
What issue has caused the most problem when applying for an EB‐5 visa?
Can I apply for an EB‐5 if I have been rejected or terminated in the past by USCIS for an L‐1, E‐2, B, or other visas?
How long must I remain in the United States each year?


What is the EB-5?
The EB-5 Immigrant Investor program was created by the US Congress in 1990 and is administered by the U.S. Citizenship and Immigration Services. It offers a way to obtain permanent residency (Green Card) for foreigners who invest $500,000 or more in a job-generating commercial enterprise located in a “Target Employment Area” (a rural area, or an area with high unemployment). The commercial enterprises formally approved by USCIS to participate in the program receive the designation of “EB-5 Regional Center” and are subsequently authorized to receive funds from Foreign National Investors

Foreign National Investors who wish to participate in the EB5 program must fulfill certain conditions summarized below and invest $500,000 or more in a Regional Center of their choice. These funds must be locked in for a certain period of time, generally 5 years, before they are retrieved by the investor, optionally with interest.

As the funds are invested, Foreign National Investors must present a petition to USCIS. The approval of this petition will grant them and their immediate family members conditional permanent residence in the US (conditional green card) valid for two years. After two years, they can petition for full residency status, and after five years for US citizenship.


What are some of the benefits of the EB‐5 visa program?
Qualifying investors and their spouse and unmarried minor children (under 21) will be granted US Lawful Permanent Residency. No minimum requirements as to age, to speak English, employment experience, or education. Investor and family may live/work anywhere in the United States. Minor children may obtain employment, subject to age, state and governmental laws and regulations. Education benefits including admission to Universities at US resident costs. The EB‐5 program does not require immigrant investors to manage their investment on a day-to-day basis. After five years, the investor and their family may obtain US citizenship, subject to meeting all immigration requirements, as required under law.


What are the conditions to participate in the EB-5 program?
To receive a conditional Green Card, the Foreign National Investor has to file a “Form I-526, Petition by Alien Entrepreneur”. This form to provide USCIS with necessary information on himself and his family, as well as information on his professional activities. Most importantly, the I-526 is to provide proof fo the following: - The investment is made in a USCIS-approved EB-5 Regional Center, which continues to respect the requirements of the EB-5 program. - The funds invested were obtained through lawful means. This requires the investor to prove his investment funds were obtained through lawful business, salary, investments, property sales, inheritance, gift, loan or other lawful means.


Do I have to speak English to participate in the EB-5 program?
No. However, learning English will help in an immigration interview.


Can money gifted by a parent or other relative be used for an EB‐5 Investment?
Yes, provided that any applicable gift taxes are paid. It must be demonstrated that the gift is an actual arms length transaction and is not a mere ruse that the gifted funds will be given back after permanent resident status is granted.


What is an ‘escrow’ account, and when does the investor transfer the money to this account?
An Escrow Bank Account is a legal, interest‐bearing account established in a registered bank to hold the initial deposit in the trust until the completion of visa processing. This type of account is commonly used in the sales of real estate, businesses and personal property. The Investment Visa Program has established an Escrow Account for the purpose of safely holding an investor’s funds at a leading bank in the United States. Under the agreements entered into with the servicing affiliate, the investor’s investment money is not authorized to be released from the Escrow Bank Account by the bank until the visa I‐526 Petition has been filed. This process was created to protect the investor.


How long does it take to become a US resident with the EB-5 program?
From the moment the application process is started, it takes generally from 3 to 8 months for an investor and his/her family to receive a conditional green card. This time includes the preparation and filing of the I-526 form, its processing time, and the time to the issuance of the conditional visa. After two years, the investor can claim permanent resident status for him/her and his/her family by filing petition I-829, whose processing time is about 6 to 12 months.

The investor can start a citizenship application 5 years after securing conditional residency. Conditions will apply, and can be viewed on USCIS’s website.


If my I‐526 petition is approved by USCIS, what is the purpose of the Consulate application and interview, and how soon do I get my “Green Card”?
Upon approval of I‐526 Petition, you must wait for notification from the US Consulate in your home country to prepare documents for the Visa interview. The purpose of this procedure is to ensure that the investor and his/her family undergo medical, police, security and immigration history checks before the conditional permanent resident visa are issued. At the interview, the consular officer may address these issues and information printed on the I‐ 526 application, including asking the investor to summarize the nature of his/her immigrant investment. If the investor and his/her family are in the United States, then you may apply for adjustment of status by filing form I‐485, and supporting documents, the application may be filed at the appropriate office of the USCIS.


Who receives the permanent residency (“green card”)?
Husband, wife and any unmarried children under the age of 21. It is possible for adopted children to be included in the family. Upon approval you will receive a form evidencing approval and a travel document. You should also receive a temporary green card in the mail.


What is a ‘Conditional’ Green Card?
A conditional Green Card is a temporary Green Card valid for two years. One year and nine months after it is issued, a three‐month window opens up during which an individual must file another application (I‐ 829) with the CIS to verify that all of the funds have been invested and employment created, in a regional center whether directly or indirectly. When the conditional resident status has been lifted, full resident status is granted and a permanent Green Card is issued.


What issue has caused the most problem when applying for an EB‐5 visa?
The most common problem area has been insufficient documentation of the source of funds. Many people try to disclose the least possible information only to have the file returned with a request for further information. It is better to provide too much information rather than too little information.

USCIS case examiners require a well‐documented source of funds application. Professional assistance from a certified public accountant or tax attorney is recommended.


Can I apply for an EB‐5 if I have been rejected or terminated in the past by USCIS for an L‐1, E‐2, B, or other visas?
Rejection in the past does not disqualify the applicant, unless the reasons related to immigration fraud or other major problems. It is most important that all criminal, medical, or U.S. immigration history problems be disclosed to the limited partnership and legal counsel in advance of application.


How long must I remain in the United States each year?
The first requirement of any investor after they receive the visa at the United States overseas consular office is to enter into the United States within 180 days of visa issuance from the consulate. The investor must then establish residency in the United States. Evidence of intent to reside includes opening bank accounts, obtaining a driver’s license or social security number, paying state and federal income taxes, renting or buying a home.

There are a few exceptions to the 180‐day rule such as students studying abroad, medical circumstances or emergency business circumstances. The 180 days need not be consecutive. You may travel in and out of the country. Proper preparation for re‐entry into the US is highly recommend prior to leaving. The 180‐day rule is in effect until you get citizenship in 5 years. It is still in effect when you get conditional residency and a green card. The United States resident may work overseas if required based upon the nature of the business or profession. However, all permanent residents must remain in the US for more than 6 months each year, or they may be deemed to have abandoned their permanent residence status.