{% extends 'base.html' %}

{% block main_content %}
<!-- =================Carousel================ -->

<div id="main-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/img/carousel-images/img1.jpg" data-src="slide" alt="Invest in sound projects">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to Aman Investment</h3>
          <h4>Invest in sound projects</h4>
          <p>Aman Investment helps individuals in the Middle East make wise investments and secure permanent residency in countries where they will find a safe environment, good healthcare, excellent education, and employment for themselves and their families.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/img/carousel-images/img2.jpg" data-src="slide" alt="A safe environment for your family">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to Aman Investment</h3>
          <h4>A safe environment for your family</h4>
          <p>Aman Investment helps individuals in the Middle East make wise investments and secure permanent residency in countries where they will find a safe environment, good healthcare, excellent education, and employment for themselves and their families.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/img/carousel-images/img3.jpg" data-src="slide" alt="Live and work abroad">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to Aman Investment</h3>
          <h4>Live and work abroad</h4>
          <p>Aman Investment helps individuals in the Middle East make wise investments and secure permanent residency in countries where they will find a safe environment, good healthcare, excellent education, and employment for themselves and their families.</p>
        </div>
      </div>
    </div>
  <div class="item">
      <img src="/static/img/carousel-images/img4.jpg" data-src="slide" alt="Secure your children's future">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to Aman Investment</h3>
          <h4>Secure your children's future</h4>
          <p>Aman Investment helps individuals in the Middle East make wise investments and secure permanent residency in countries where they will find a safe environment, good healthcare, excellent education, and employment for themselves and their families.</p>
        </div>
      </div>
    </div>
  <div class="item">
      <img src="/static/img/carousel-images/img5.jpg" data-src="slide" alt="Access the best education">
      <div class="container">
        <div class="carousel-caption">
          <h3>Welcome to Aman Investment</h3>
          <h4>Access the best education</h4>
          <p>Aman Investment helps individuals in the Middle East make wise investments and secure permanent residency in countries where they will find a safe environment, good healthcare, excellent education, and employment for themselves and their families.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
    <li data-target="#main-carousel" data-slide-to="3"></li>
    <li data-target="#main-carousel" data-slide-to="4"></li>
  </ol>
</div><!-- /.carousel -->
{% endblock %}