{% extends 'detail_page.html' %}

{% block header %}Our Partners{% endblock %}
{% block subheader %}Experience and competence{% endblock %}
{% block content %}
    <div class="partner">
        <div class="partner-logo">
            <img src="/static/img/logos/Extell-Logo.png" height="150" width="150" />
        </div>
        <div class="partner-details">
            <p>
            The Extell New York Regional Center (ENYRC) was established by one of New York City's most active real estate developers whose portfolio of commercial, residential, retail, and hospitality properties now exceeds 20 million square feet with transactions that total over 10 billion USD.
            </p>
            <p>
            ENYRC has been accredited by USCIS as a regional center since 2011. Its first EB-5 investment opportunities have helped finance the development of the <a href="http://www.internationalgemtower.com/content/" target="_blank">International Gem Tower</a> in the Diamond District, in New York City.
            </p>
        </div>
    </div>
    <div class="partner">
        <div class="partner-logo">
            <img src="/static/img/logos/Konsul-Logo.png" height="150" width="150" />
        </div>
        <div class="partner-details">
            <p>
                Konsul has been helping people realize their goals of becoming Canadian citizens since 1980. Its mission is to provide assistance to all those wishing to establish themselves in Canada either temporarily or permanently. Konsul was founded and continues to be presided by Pierre A Collette, a practicing lawyer and member of the Quebec Bar Association, specialized in corporate and immigration law with over thirty years of experience in these fields.
            </p>
        </div>
    </div>
{% endblock %}