{% extends 'detail_page.html' %}

{% block header %}Terms of Service{% endblock %}
{% block content %}
<p>
You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms of use. You must not republish material from this website, sell, rent or sub-license material from the website, or reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose.
</p>
<p>
Aman Investment is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the website. While the information contained within the website is periodically updated, no guarantee is given that the information provided in this website is correct, complete, and up-to-date. Although Aman Investment may include links providing direct access to other Internet resources, including website, Aman Investment is not responsible for the accuracy or content of information contained in these sites. Links from Aman Investment’s website to third-party sites do not constitute an endorsement by Aman Investment of the parties or their products and services.
</p>
<p>
We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.
</p>
{% endblock %}





