$dark-blue: #21365c;
$dark-red: #be151b;
$light-gray: #748b97;
$hover-blue: #12264b;

$z-index-subnav: 10;
$z-index-logo: 20;

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro'), url('../fonts/MyriadPro-lt.otf') format('opentype');
}

@font-face {
  font-family: 'MyriadBold';
  font-style: normal;
  font-weight: normal;
  src: local('MyriadPro-BoldSemiExt'), url('../fonts/MyriadPro-BoldSemiExt.otf') format('opentype');
}

@font-face {
  font-family: 'MyriadLightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('MyriadPro-LightSemiExtIt'), url('../fonts/MyriadPro-LightSemiExtIt.otf') format('opentype');
}